<app-menu></app-menu>

<div class="d-flex flex-nowrap">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-4">Avaliação Física</h2>
      </div>
      <div class="col-md-6 text-end mb-3">
        <button type="button" class="btn btn-yellow" (click)="openModalInsert(insert)"><fa-icon [icon]="['fas', 'plus']" class="me-2" style="color: #000;"></fa-icon>Adicionar</button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="mb-3 px-2">
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Peso</th>
                <th scope="col">Gordura Corporal</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">00/00/0000</th>
                <td>65</td>
                <td>25%</td>
                <td>
                  <button type="button" class="btn btn-yellow" (click)="openModalUpdate(update)"><fa-icon [icon]="['fas', 'pencil']"></fa-icon></button>
                  <button type="button" class="ms-2 btn btn-pink"><fa-icon [icon]="['fas', 'trash-can']" style="color: #fff"></fa-icon></button>
                </td>
              </tr>
              <tr>
                <th scope="row">00/00/0000</th>
                <td>65</td>
                <td>25%</td>
                <td>
                  <button type="button" class="btn btn-yellow" data-bs-toggle="modal"
                    data-bs-target="#modalEdit"><fa-icon [icon]="['fas', 'pencil']"></fa-icon></button>
                  <button type="button" class="ms-2 btn btn-pink"><fa-icon [icon]="['fas', 'trash-can']" style="color: #fff"></fa-icon></button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #insert let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="modalNewLabel">Avaliação Física</h1>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <div class="modal-body bg-dark-1">

      <div class="row mb-3">
        <div class="col-md-6 mt-2">
          <label for="weight" class="form-label">Peso</label>
          <input type="number" class="form-control" id="weight" placeholder="Peso em kg">
        </div>
        <div class="col-md-6 mt-2">
          <label for="body_fat" class="form-label">Percentual de gordura</label>
          <input type="number" class="form-control" id="body_fat" placeholder="% de gordura corporal">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mt-2">
          <label for="chest" class="form-label">Tórax</label>
          <input type="number" class="form-control" id="chest" placeholder="Medida em cm">
        </div>
        <div class="col-md-6 mt-2">
          <label for="right_arm_contr" class="form-label">Braço direito contraído</label>
          <input type="number" class="form-control" id="right_arm_contr" placeholder="Medida em cm">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mt-2">
          <label for="left_arm_contr" class="form-label">Braço esquerdo contraído</label>
          <input type="number" class="form-control" id="left_arm_contr" placeholder="Medida em cm">
        </div>
        <div class="col-md-6 mt-2">
          <label for="hip" class="form-label">Quadril</label>
          <input type="number" class="form-control" id="hip" placeholder="Medida em cm">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mt-2">
          <label for="right_arm_relax" class="form-label">Braço direito relaxado</label>
          <input type="number" class="form-control" id="right_arm_relax" placeholder="Medida em cm">
        </div>
        <div class="col-md-6 mt-2">
          <label for="left_arm_relax" class="form-label">Braço esquerdo relaxado</label>
          <input type="number" class="form-control" id="left_arm_relax" placeholder="Medida em cm">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mt-2">
          <label for="abdomen" class="form-label">Abdômem</label>
          <input type="number" class="form-control" id="abdomen" placeholder="Medida em cm">
        </div>
        <div class="col-md-6 mt-2">
          <label for="waist" class="form-label">Cintura</label>
          <input type="number" class="form-control" id="waist" placeholder="Medida em cm">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mt-2">
          <label for="right_forearm" class="form-label">Antebraço direito</label>
          <input type="number" class="form-control" id="right_forearm" placeholder="Medida em cm">
        </div>
        <div class="col-md-6 mt-2">
          <label for="left_forearm" class="form-label">Antebraço esquerdo</label>
          <input type="number" class="form-control" id="left_forearm" placeholder="Medida em cm">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mt-2">
          <label for="right_thigh" class="form-label">Coxa direita</label>
          <input type="number" class="form-control" id="right_thigh" placeholder="Medida em cm">
        </div>
        <div class="col-md-6 mt-2">
          <label for="left_thigh" class="form-label">Coxa esquerda</label>
          <input type="number" class="form-control" id="left_thigh" placeholder="Medida em cm">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mt-2">
          <label for="scapular" class="form-label">Cintura escapular</label>
          <input type="number" class="form-control" id="scapular" placeholder="Medida em cm">
        </div>
        <div class="col-md-6 mt-2">
          <label for="left_thigh" class="form-label">Coxa esquerda</label>
          <input type="number" class="form-control" id="left_thigh" placeholder="Medida em cm">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mt-2">
          <label for="right_calf" class="form-label">Panturrilha direita</label>
          <input type="number" class="form-control" id="right_calf" placeholder="Medida em cm">
        </div>
        <div class="col-md-6 mt-2">
          <label for="left_calf" class="form-label">Panturrilha direita</label>
          <input type="number" class="form-control" id="left_calf" placeholder="Medida em cm">
        </div>
      </div>

      <div class="form-floating mt-4">
        <textarea class="form-control" placeholder="Observações" id="observations"></textarea>
        <label for="observations">Observações</label>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')"><fa-icon [icon]="['fas', 'xmark']"></fa-icon></button>
      <button type="button" class="btn btn-primary"><fa-icon [icon]="['fas', 'check']"></fa-icon></button>
    </div>
  </div>
</ng-template>

<ng-template #update let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="modalEditLabel">Avaliação Física</h1>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <tbody>
            <tr>
              <td>Peso:</td>
              <td><span type="number" class="form-control" id="weight" placeholder="Peso em kg">57.8</span></td>
            </tr>
            <tr>
              <td>Percentual de gordura:</td>
              <td><span type="number" class="form-control" id="body_fat" placeholder="% de gordura corporal">57.8</span></td>
            </tr>
            <tr>
              <td>Tórax:</td>
              <td><span type="number" class="form-control" id="chest" placeholder="Medida em cm">57.8</span></td>
            </tr>
            <tr>
              <td>Braço direito contraído:</td>
              <td><span type="number" class="form-control" id="right_arm_contr" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Braço esquerdo contraído:</td>
              <td><span type="number" class="form-control" id="left_arm_contr" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Quadril:</td>
              <td><span type="number" class="form-control" id="hip" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Braço direito relaxado:</td>
              <td><span type="number" class="form-control" id="right_arm_relax" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Braço esquerdo relaxado:</td>
              <td><span type="number" class="form-control" id="left_arm_relax" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Abdômem:</td>
              <td><span type="number" class="form-control" id="abdomen" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Cintura:</td>
              <td><span type="number" class="form-control" id="waist" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Antebraço direito:</td>
              <td><span type="number" class="form-control" id="right_forearm" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Antebraço esquerdo:</td>
              <td><span type="number" class="form-control" id="left_forearm" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Coxa direita:</td>
              <td><span type="number" class="form-control" id="right_thigh" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Coxa esquerda:</td>
              <td><span type="number" class="form-control" id="left_thigh" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Cintura escapular:</td>
              <td><span type="number" class="form-control" id="scapular" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Coxa esquerda:</td>
              <td><span type="number" class="form-control" id="left_thigh" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Panturrilha direita:</td>
              <td><span type="number" class="form-control" id="right_calf" placeholder="Medida em cm">57</span></td>
            </tr>
            <tr>
              <td>Panturrilha direita:</td>
              <td><span type="number" class="form-control" id="left_calf" placeholder="Medida em cm">57</span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h5>Observações:</h5>
      <p class="card p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.</p>

    </div>
  </div>
</ng-template>
