<div class="vh-100 text-center">
  <div class="container vertical-align">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-4 my-3">
        <div class="card px-3" id="card-login">
          <div class="card-body">
            <img src="assets/logo.png" width="190" draggable="false">
            <h2 class="brand fs-1">Hercules</h2>
            <form class="my-3" [formGroup]="loginForm" (submit)="login(loginBtn)">
              <h5 class="mb-3">Login</h5>

              <div class="text-start">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" formControlName="email"
                    placeholder="nome@examplo.com">
                <label for="password" class="mt-3 form-label">Senha</label>
                <input type="password" class="form-control" name="password" id="password" formControlName="password"
                    placeholder="Insira a senha">
              </div>

              <div class="text-end">
                <button type="submit" class="btn btn-yellow mt-4" #loginBtn>Logar</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
