<app-menu></app-menu>
<div class="d-flex flex-nowrap">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-4">Configurações de Usuário</h2>
      </div>
    </div>
    <div class="card">
      <form [formGroup]="userForm" (submit)="updateUser(btnUser)" class="card-body">
        <div class="col">
          <label for="name" class="form-label">Nome</label>
          <input formControlName="name" type="text" class="form-control" id="name" placeholder="Insira seu nome">
        </div>

        <div class="row">
          <div class="col-md-6 mt-3">
            <label for="gender" class="form-label">Selecione o sexo</label>
            <select formControlName="gender" class="form-select" aria-label="Selecionar sexo" id="gender">
              <option value="Feminino">Feminino</option>
              <option value="Masculino">Masculino</option>
            </select>
          </div>
          <div class="col-md-6 mt-3">
            <label for="birth_date" class="form-label">Data de nascimento</label>
            <input formControlName="birth_date" type="date" class="form-control" id="birth_date">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mt-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" formControlName="email" id="email" class="form-control" placeholder="Insira o e-mail">
          </div>
          <div class="col-md-6 mt-3">
            <label for="password" class="form-label">Senha</label>
            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Insira a senha">
          </div>
        </div>

        <div class="text-end mt-3">
          <button #btnUser type="submit" class="btn btn-yellow"><fa-icon [icon]="['fas', 'check']"></fa-icon>Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
